<div class="wrapper">


  <div class="row">
    <!-- LEFT COLUMN -->
    <div class="col s7">
      <h5> hier komt de info </h5>
      <p><%= @user.age %></p>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col s5 ">
      <p class="right-align profile-photo"><%= image_tag @user.photo %></p>
    </div>
    <!-- BELOW -->
    <div class="col s12">
      <h2> hier komen de listings </h2>
    </div>
  </div>
</div>
