<div class="row">
  <!-- LEFT COLUMN -->
  <div class="col s4"><%= image_tag @user.photo %></div>
  <!-- RIGHT COLUMN -->
  <div class="col s8">
    <%= @user.age %>
  </div>
  <!-- BELOW -->
  <div class="col s12">This div is 6-columns wide</div>
</div>
