
<div class="row">

  <div class="col s4">
<!--  sign up form -->
    <h1>Sign up form here</h1>
  </div>
  <div class="col s8">
<!-- join me and text -->
    <h1 class="welcome-h1">Join Me!</h1>
  </div>
</div>






<%= link_to "[New User]", new_user_registration_path %>
