<<<<<<< HEAD
<h1> <%= @user.name %> </h1>

<h3><%= @user.city %></h3>
<h3><%= @user.email %></h3>

<p><%= @user.description %></p>
=======
<h1>User Profile</h1>
>>>>>>> 2d97e0c0aa0f822edcf2b26137e622a791f7ae84
