@import 'materialize';

/* MATERIALIZE COMMENT: You can then include other pages such as ‘home’ or ‘main’ by writing:
@import “home”;
@import “main”;
*/
nav {
  background-color: #481848;
}
.brand-logo {
  color: #FFC878 !important;
  margin-left: 60px;
}
.active {
}

.hide-on-med-and-down {
  margin-right: 60px;
}


[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  margin-left: 2em;

  &:first-child {
    margin-left: 0;
  }
}

[type="radio"]:not(:checked):first-child + label,
[type="radio"]:checked:first-child + label {
  margin-left: 0;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
