<nav>
  <div class="nav-wrapper">
    <%= link_to "JoinMe!", root_path, class:"brand-logo" %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Invitations", listing_index_path %></li>
      <li><%= link_to "Users", user_index_path %></li>
      <li><%= link_to "Log in", new_user_session_path %></li>
    </ul>
  </div>
</nav>
