<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">JoinMe!</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Invitations", listing_index_path %></li>
      <li><%= link_to "Users", user_index_path %></li>
    </ul>
  </div>
</nav>
